@model MVCSession1.Models.Customer
@{
    ViewBag.Title = "Home Page";
}

 

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <td>Customer Id:</td>
                <td>@Model.CustomerId</td>
            </tr>
            <tr>
                <td>Customer Name:</td>
                <td>@Model.CustomerName</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <td>Post Code:</td>
                <td>@Model.PostCode</td>
            </tr>

        
        </table>
    </div>
</div>